@import "tailwindcss";

/* Custom variant for popover-open state */
@custom-variant popover-open (&:popover-open);

@font-face {
  font-family: MS Sans;
  src:
    url("/fonts/ms-sans.woff2") format("woff2"),
    url("/fonts/ms-sans.woff") format("woff");
}

@layer theme {
  :root {
    /* APP VARIABLES */
    --app-bg-color: #f0f0f0;

    /* WINDOW 95 VARIABLES */
    --light-gray: #c0c0c0;
    --dark-gray: #808080;
    --navy-blue: #000080;
    --yellow: #ffff00;

    --taskbar-height: 3rem;
  }
}

/*  CUSTOM CLASSES FOR TAILWIND THEME EXTENSION */
@theme {
  --color-yellow: var(--yellow);
  --color-navy-blue: var(--navy-blue);
  --color-light-gray: var(--light-gray);
  --color-dark-gray: var(--dark-gray);

  --font-ms-sans: "MS Sans", sans-serif;
}

/*  Custom component classes */
@layer components {
  .btn-border::after {
    content: "";
    position: absolute;
    right: 2px;
    bottom: 2px;
    height: 100%;
    width: 100%;
    z-index: -20;
    background-color: yellow;
  }

  .btn-border::before {
    content: "";
  }
}

/* Custom Utility Classes */
@layer utilities {
  .size-screen {
    height: 100vh;
    width: 100vw;
  }

  .size-full {
    height: 100%;
    width: 100%;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .scroll-none {
    overflow: hidden;
  }
}
