@import "tailwindcss";

/* Custom variant for popover-open state */
@custom-variant popover-open (&:popover-open);

@font-face {
  font-family: MS Sans;
  src:
    url("/fonts/ms-sans.woff2") format("woff2"),
    url("/fonts/ms-sans.woff") format("woff");
}

@layer theme {
  :root {
    /* APP VARIABLES */
    --app-bg-color: #f0f0f0;

    /* WINDOW 95 VARIABLES */
    --light-gray: #c0c0c0;
    --dark-gray: #808080;
    --navy-blue: #000080;
    --yellow: #ffff00;

    --taskbar-height: 3rem;
  }
}

/*  CUSTOM CLASSES FOR TAILWIND THEME EXTENSION */
@theme {
  --color-yellow: var(--yellow);
  --color-navy-blue: var(--navy-blue);
  --color-light-gray: var(--light-gray);
  --color-dark-gray: var(--dark-gray);

  --font-ms-sans: "MS Sans", sans-serif;
}

/*  Custom component classes */
@layer components {
  .app-grid {
    display: grid;
    column-gap: 16px;
    row-gap: 18px;
    grid-auto-flow: column;
    grid-template-rows: repeat(auto-fill, minmax(min-content, 76px));
    grid-template-columns: repeat(auto-fill, 80px);
    /* prevent stretching items to full track height */
    align-items: start;
  }
}

/* Custom Utility Classes */
@layer utilities {
  .size-screen {
    height: 100vh;
    width: 100vw;
  }

  .size-full {
    height: 100%;
    width: 100%;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .scroll-none {
    overflow: hidden;
  }

  .font-ms-sans-bold {
    font-family: "MS Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }

  .bg-checkerboard {
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='4' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='checkerboard' x='0' y='0' width='4' height='4' patternUnits='userSpaceOnUse'%3E%3Crect width='2' height='2' fill='%23ffffff'/%3E%3Crect x='2' y='0' width='2' height='2' fill='%23cccccc'/%3E%3Crect x='0' y='2' width='2' height='2' fill='%23cccccc'/%3E%3Crect x='2' y='2' width='2' height='2' fill='%23ffffff'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100%25' height='100%25' fill='url(%23checkerboard)'/%3E%3C/svg%3E");
    background-repeat: repeat;
  }

  .win95-icon-checker {
    position: relative;
  }

  .win95-icon-checker::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background-image:
      repeating-linear-gradient(0deg, #ffffff 0 1px, var(--navy-blue) 1px 2px),
      repeating-linear-gradient(90deg, #ffffff 0 1px, var(--navy-blue) 1px 2px);
    opacity: 0;
    mix-blend-mode: multiply;
  }

  .win95-icon:focus .win95-icon-checker::after,
  .win95-icon:focus-visible .win95-icon-checker::after {
    opacity: 0.9;
  }
}